


.control input{
    font-size: 18px;
height: 50px;
background-color:#f8f9fa;

width: 100%
}
.control label{
    font-size: 18px;
}
.control textarea{
    font-size: 18px;
    height: 50px;
background-color:#f8f9fa;

width: 100%
}
.control .required{
    color: red;
    font-size: 18px;
}
.control select{
    font-size: 18px;
    height: 50px;
    background-color:#f8f9fa;
    
    width: 100%
}
.submitbtn {
    display: none;
}
.checkbox{
    /* width: 18px; */
    margin-top: 10px;
    /* margin-left: 200px; */
}
.errorms{
    color: red;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance:none;
  margin: 0;
}